<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>/login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CharacterEncoding</filter-name>
    <filter-class>cn.com.jnpc.meeting.filter.SetCharacterEncodingFilter
		</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>MeetingServlet</servlet-name>
    <servlet-class>cn.com.jnpc.meeting.servlet.MeetingServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetingServlet</servlet-name>
    <url-pattern>/MeetingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>detailServlet</servlet-name>
    <servlet-class>cn.com.jnpc.meeting.servlet.detailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailServlet</servlet-name>
    <url-pattern>/detailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>cn.com.jnpc.meeting.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AJAXServlet</servlet-name>
    <servlet-class>cn.com.jnpc.meeting.servlet.AJAXServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AJAXServlet</servlet-name>
    <url-pattern>/ajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MeetingRoomServlet</servlet-name>
    <servlet-class>cn.com.jnpc.meeting.servlet.MeetingRoomServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetingRoomServlet</servlet-name>
    <url-pattern>/MeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.com.jnpc.meeting.servlet.LoginServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MeetingRoom2Servlet</servlet-name>
    <servlet-class>cn.com.jnpc.meeting.servlet.MeetingRoom2Servlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetingRoom2Servlet</servlet-name>
    <url-pattern>/MeetingRoom2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MeetingPlanServlet</servlet-name>
    <servlet-class>cn.com.jnpc.meeting.servlet.MeetingPlanServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetingPlanServlet</servlet-name>
    <url-pattern>/MeetingPlanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MeetingMoneyServlet</servlet-name>
    <servlet-class>cn.com.jnpc.meeting.servlet.MeetingMoneyServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetingMoneyServlet</servlet-name>
    <url-pattern>/MeetingMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MeetingExplainServlet</servlet-name>
    <servlet-class>cn.com.jnpc.meeting.servlet.MeetingExplainServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetingExplainServlet</servlet-name>
    <url-pattern>/MeetingExplainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MeetingCommonServlet</servlet-name>
    <servlet-class>cn.com.jnpc.meeting.servlet.MeetingCommonServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetingCommonServlet</servlet-name>
    <url-pattern>/MeetingCommonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RegularMeetingTemplateServlet</display-name>
    <servlet-name>RegularMeetingTemplateServlet</servlet-name>
    <servlet-class>cn.com.jnpc.meeting.servlet.RegularMeetingTemplateServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegularMeetingTemplateServlet</servlet-name>
    <url-pattern>/rmts</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MeetingTrainingServlet</display-name>
    <servlet-name>MeetingTrainingServlet</servlet-name>
    <servlet-class>cn.com.jnpc.meeting.servlet.MeetingTrainingServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetingTrainingServlet</servlet-name>
    <url-pattern>/MeetingTrainingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ExportServlet</display-name>
    <servlet-name>ExportServlet</servlet-name>
    <servlet-class>cn.com.jnpc.meeting.servlet.ExportServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportServlet</servlet-name>
    <url-pattern>/export</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>BookRoomServlet</display-name>
    <servlet-name>BookRoomServlet</servlet-name>
    <servlet-class>cn.com.jnpc.meeting.servlet.BookRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookRoomServlet</servlet-name>
    <url-pattern>/BookRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>StatisticsServlet</display-name>
    <servlet-name>StatisticsServlet</servlet-name>
    <servlet-class>cn.com.jnpc.meeting.servlet.StatisticsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticsServlet</servlet-name>
    <url-pattern>/StatisticsServlet</url-pattern>
  </servlet-mapping>
</web-app>